/* Estilos generales */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 5px;
    
}

/* Encabezado */

header {
    background-color: #333;
    color: #fff;
    padding: 5px 0;
    position: fixed; 
    width: 100%;
    text-align: center;
    z-index: 100;
}

header h1 {
    margin: 0;
    font-size: 30px;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 12px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

header nav ul li a:hover {
    text-decoration: underline;
}

/* Secciones */


.hero {
    background-color: #007bff;
    color: #fff;
    padding: 100px;
    text-align: center;
    width: 100%; /* Ancho del 100% para que ocupe todo el ancho disponible */
    height: auto; /* Altura automática para mantener la proporción */
    
    /* Establece la imagen de fondo */
    background-image: url('IMG-20240704-WA0045.jpg');
    
    /* Opciones adicionales para el fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen al contenedor */
    background-position: center; /* Centra la imagen dentro del contenedor */
    background-repeat: no-repeat; /* Evita la repetición de la imagen */
    
    position: relative;
    top: 80px; /* Ajuste hacia abajo */
}
  

  
  
  
  background-color: #007bff;
  color: #fff;
  padding: 100px;
  text-align: center;

    /* Ajusta el tamaño y posición del contenedor según sea necesario */
    width: 80%;
    height: 100%; /* Altura de ejemplo */
  
    /* Establece la imagen de fondo */
    background-image: url('IMG-20240704-WA0045.jpg');
  
    /* Opciones adicionales para el fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen al contenedor */
    background-position: center; /* Centra la imagen dentro del contenedor */
    background-repeat: no-repeat; /* Evita la repetición de la imagen */
    position: relative;
    top: 80px; /* Ajuste hacia abajo */

}


.investigaciones {
    padding: 40px 0;
}

.investigacion-item {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.investigacion-item h3 {
    margin-top: 0;
}

.investigacion-item p {
    margin-bottom: 10px;
}

.investigacion-item a {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 3px;
}

.investigacion-item a:hover {
    background-color: #0056b3;
}

/* Pie de página */

/* apartado para menu hamburguesa*/

body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .menu-toggle {
    position: fixed;
    top: 30px;
    left: 30px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 1000;
  }
  
  .menu-toggle .icon {
    width: 100%;
    height: 2px;
    background-color: rgb(255, 255, 255);
    position: relative;
    transition: background-color 0.3s ease;
   
  }
  
  .menu-toggle .icon::before,
  .menu-toggle .icon::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transition: transform 0.3s ease;
  }
  
  .menu-toggle .icon::before {
    top: -8px;
  }
  
  .menu-toggle .icon::after {
    top: 8px;
  }
  
  .menu.open .icon {
    background-color: transparent;
  }
  
  .menu.open .icon::before {
    transform: rotate(45deg);
    top: 0;
  }
  
  .menu.open .icon::after {
    transform: rotate(-45deg);
    top: 0;
  }
  
  .menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 150px;
    height: 100%;
    background-color: #a19e9e;
    transition: left 0.3s ease;
    padding-top: 60px;
  }
  
  .menu ul {
    list-style-type: none;
    padding: 0;
  }
  
  .menu ul li {
    padding: 15px;
  }
  
  .menu ul li a {
    text-decoration: none;
    color: rgb(53, 51, 51);
    font-size: 15px;
  }
  
  .menu.open {
    left: 0;
  }
  
  /* Estilo para el botón */
button {
  background: none;
  border: none;
  padding: 0px;
  font: inherit;
  cursor: pointer;
  color: rgb(53, 51, 51); /* Color azul, puedes cambiarlo según tus preferencias */
 /* text-decoration: underline; /* Subrayado como una palabra común */
}

.uetenos {
  display: none; /* Empieza escondido */
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.unetenos a {
  color: black;
  padding: 5px 16px;
  text-decoration: none;
  display: block;
}

.unetenos a:hover {
  background-color: #f1f1f1;
}

/* enviar correo */

#user-input {
  width: calc(100% - 5px);
  padding: 5px;
  border: none;
  outline: none;
}

#send-btn {
  width: 70px;
  padding: 5px;
  background-color: #1ad814;
  color: white;
  border: none;
  cursor: pointer;
}

#send-btn:hover {
  background-color: #0056b3;
}

/* atajos al club de ciencias*/

#whatsapp-link {
  position: fixed;
  bottom: 20px;
  right: 60px;
  width: 30px; /* Ajusta el tamaño según tus necesidades */
  height: 30px; /* Igualar el alto al ancho para hacerlo circular */
  border-radius: 50%; /* Hace que el borde del enlace sea circular */
  overflow: hidden; /* Asegura que la imagen no se salga del círculo */
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
  top: 45px;
}

#whatsapp-logo {
  width: 100%; /* Ajusta la imagen para llenar el círculo */
  height: auto;
  display: block; /* Asegura que la imagen se ajuste correctamente */
}

#instagram-link {
  position: fixed;
  bottom: 20px;
  right: 120px;
  width: 30px; /* Ajusta el tamaño según tus necesidades */
  height: 30px; /* Igualar el alto al ancho para hacerlo circular */
  border-radius: 50%; /* Hace que el borde del enlace sea circular */
  overflow: hidden; /* Asegura que la imagen no se salga del círculo */
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
  top: 45px;
}

#instagram-logo {
  width: 100%; /* Ajusta la imagen para llenar el círculo */
  height: auto;
  display: block; /* Asegura que la imagen se ajuste correctamente */
}

/* img inicio */



